/* Estilos generales */
body {
    font-family: Bubbble Gum, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #8A817C;
    background-image: url("foto/Apto.jpg");
    background-size: cover;
}

/* Encabezado */
header {
    display: flex;
    align-items: center;
    height: 60px;
    background-color: #F2F2F0;
    justify-content: space-between;
    padding: 20px;
}

.MiPortfolio {
    display: flex;
    align-items: center;
    font-size: 20px;
    letter-spacing: 2px;
    text-align: center;
    display: flex;
    justify-content: center;
}

.MiPortfolio img{
    height: 70px;
    margin-right: 10px;
}

a{
    text-decoration: none;
    color: #46413E;
}

nav a{
    font-weight: 600;
    padding-right: 10px;
}

nav a:hover{
    color:#BFAB9F;
}

/* selectores titulo y descripcion de las casilla */
.selector-titulo {
    text-align: center;
    font-size: 1.8em;
    border-bottom: 2px solid #46413E;
    padding-bottom: 10px;
    margin-bottom: 15px;
    text-transform: uppercase;
}

.selector-descripcion {
    text-align: justify;
    font-size: 1.1em;
    line-height: 1.8;
    padding: 10px;
}

/* Quien soy */
#QuienSoy {
    font-weight: bold;
    max-width: 800px;
    margin: 20px auto;
    background-color: #F2F2F0;
    padding: 20px;
    border: 2px solid #EAE7E2;
    border-radius: 10px;
    margin-bottom: 40px;
}

#QuienSoy img {
    width: 25%;
    height: auto;
    display: block;
    margin: 20px auto;
    border-radius: 5px;
}

#QuienSoy img:hover {
    transform: scale(1.3);
}


/* Que he hecho */
#QueHice {
    font-weight: bold;
    max-width: 800px;
    margin: 20px auto;
    background-color: #F2F2F0;
    padding: 20px;
    border: 2px solid #EAE7E2;
    border-radius: 10px;
    margin-bottom: 40px;
}

#QueHice p {
    text-align: center;
}

.DescripcionEstudios{
    max-width: 600px;
    margin: 0 auto;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
ul {
    list-style-type: none;
    padding: 0;
}
li {
    padding: 10px 0;
    border-bottom: 1px solid #EAE7E2;
}
li:last-child {
    border-bottom: none;
}
.estudios {
    font-weight: bold;
    color: #46413E;
}
.estudios-descripcion {
    color: #89807C;
    margin-top: 5px;
}

/* Fotografías Real Estate */
#Fotografías {
    font-weight: bold;
    max-width: 800px;
    margin: 20px auto;
    background-color: #F2F2F0;
    padding: 20px;
    border: 2px solid #EAE7E2;
    border-radius: 10px;
    margin-bottom: 40px;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 40px));
    gap: 20px;
}
.gallery img {
    max-width: 100%;
    height: auto;
    display: block;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}
.gallery img:hover {
    transform: scale(2);
}

/* Contacto */
#formulario {
    text-align: center;
    font-weight: bold;
    max-width: 400px;
    margin: 20px auto;
    background-color: #F2F2F0;
    padding: 20px;
    border: 2px solid #EAE7E2;
    border-radius: 10px;
    margin-bottom: 40px;
}

#formulario label, #formulario input, #formulario textarea {
    text-align: center;
    justify-content: center;
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
    width: 100%;
}
#formulario input[type="submit"] {
    background-color:#46413E;
    color:#F2F2F0;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

#formulario input[type="submit"]:hover {
    background-color:#BFAB9F;
}

/* Pie de página fijo */
footer {
    display: flex;
    align-items: center;
    height: 30px;
    background-color: #46413E;
    justify-content:center;
    padding: 20px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.footer {
    color: #EAE7E2;
    display: flex;
    align-items: center;
    font-size: 8px;
    letter-spacing: 2px;
    text-align: center;
    display: flex;
    justify-content: center;
}  

.footer img {
    height: 40px;
    margin-right: 30px;
}



